@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

*, input, textarea, button {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

@media (max-width: 800px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 48%;
  }
}
