{% extends "./parts/base-html.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/index.css">
{% endblock styles %}

{% block content %}
    <section id="PresentHeader">
        <div id="Container">
            <div id="Content">
                <h2>Venha ler os melhores posts, sempre atualizados!</h2>
                <p>Aqui você vai encontrar mais de 20.000 artigos, notícias e tutoriais que vão te ajudar na sua carreira como programador. Você também pode ajudar milhares de programadores escrevendo artigos!</p>
            </div>
            <div id="ActionsButtons">
                <a href="/register" rel="internal"><i class="fas fa-plus"></i> Criar conta</a>
                <a href="/posts" rel="internal"><i class="fas fa-file-alt"></i> Postagens</a>
            </div>
        </div>
    </section>

    <section id="Counters">
        <div id="CountersContainer">
            <div class="Counter">
                <h3>20.000</h3>
                <p><i class="fas fa-newspaper"></i> Posts</p>
            </div>
            <div class="Counter">
                <h3>100.000</h3>
                <p><i class="fas fa-users"></i> Usuários</p>
            </div>
            <div class="Counter">
                <h3>1.250</h3>
                <p><i class="fas fa-file-alt"></i> Blogs</p>
            </div>
        </div>
    </section>

    <section id="BenefitsContainer">
        <h2>Veja algumas vantagens de usar o PatchDevs:</h2>
        <div id="Benefits">
            <div class="Benefit">
                <i class="fas fa-book-reader"></i>
                <h3>Leia vários posts de graça!</h3>
                <p>Leia quantos posts quiser totalmente de graça e pelo tempo quiser!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-quote-right"></i>
                <h3>Escreva seus posts!</h3>
                <p>Você pode escrever posts para o site e gerência-los com sua equipe de qualquer lugar!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-cogs"></i>
                <h3>CMS</h3>
                <p>Crie seus posts com a poderosa linguagem Markdown, sem precisar usar programas externos!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-chart-line"></i>
                <h3>Ótimo SEO!</h3>
                <p>Seus posts não ficarão no esquecimento, todos os posts são rankeados em ótimas posições no Google!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-bolt"></i>
                <h3>Carregamento rápido!</h3>
                <p>Todos os posts são carregados em altas velocidades, evitando a evasão do seu post!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-shield-alt"></i>
                <h3>Conteúdo seguro!</h3>
                <p>Todos os posts são moderados e monitorados para que não haja informações duvidosas, falsas ou que possam prejudicar alguém de alguma maneira!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-copyright"></i>
                <h3>Autoria protegida!</h3>
                <p>Todo o conteúdo postado é de direito do autor, não podendo ser replicado por outras pessoas.</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-users"></i>
                <h3>Conquiste fãs!</h3>
                <p>Conquiste seguidores para acompanhar seu trabalho e ver suas publicações!</p>
            </div>
            <div class="Benefit">
                <i class="fas fa-bell"></i>
                <h3>Receba notificações!</h3>
                <p>Não se preocupe de perder os novos posts dos seus escritores favoritos, nos sempre avisaremos a você!</p>
            </div>
        </div>
    </section>

    <section id="PlansContainer">
        <div id="PlansHeader">
            <h2>Conheça nossos planos para bloggers!</h2>
            <p>Os preços foram pensados para todos os bolsos. Todo dinheiro é usado para a melhoria da plataforma. <strong>Você não paga nada para ler posts!!</strong></p>
        </div>
        <main id="Plans">
            <div class="Plan free">
                <div class="UpSide">
                    <h3 class="PlanTitle">Gratuito</h3>
                    <h4 class="PlanPrice">R$ 0/mês</h4>
                </div>
                <div class="DownSide">
                    <div class="PlanSpecifications">
                        <p><i class="fas fa-check-circle check"></i> 1 Blog por conta</p>
                        <p><i class="fas fa-check-circle check"></i> 3 Postagens / mês</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens com no máximo 300 palavras</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Definir administradores</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Definir moderadores</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Definir editores</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Postagens sem anúncios</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Inscrições pagas no blog</p>
                    </div>
                </div>
                <a href="#" class="SelectPlan">Começar</a>
            </div>
            <div class="Plan essential">
                <div class="UpSide">
                    <h3 class="PlanTitle">Essencial</h3>
                    <h4 class="PlanPrice">R$ 4,99/mês</h4>
                </div>
                <div class="DownSide">
                    <div class="PlanSpecifications">
                        <p><i class="fas fa-check-circle check"></i> 1 Blog por conta</p>
                        <p><i class="fas fa-check-circle check"></i> 15 Postagens / mês</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens com no máximo 600 palavras</p>
                        <p><i class="fas fa-check-circle check"></i> 1 Administrador/blog</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Definir moderadores</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Definir editores</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens sem anúncios</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Inscrições pagas no blog</p>
                    </div>
                </div>
                <a href="#" class="SelectPlan">Selecionar</a>
            </div>
            <div class="Plan premium">
                <div class="SpecialPlan"><h2><i class="fas fa-award"></i> Recomendado!</h2></div>
                <div class="UpSide">
                    <h3 class="PlanTitle">Premium</h3>
                    <h4 class="PlanPrice">R$ 14,99/mês</h4>
                </div>
                <div class="DownSide">
                    <div class="PlanSpecifications">
                        <p><i class="fas fa-check-circle check"></i> 2 Blogs por conta</p>
                        <p><i class="fas fa-check-circle check"></i> 30 Postagens / mês</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens com no máximo 1200 palavras</p>
                        <p><i class="fas fa-check-circle check"></i> 2 Administradores</p>
                        <p><i class="fas fa-check-circle check"></i> 1 Moderador</p>
                        <p><i class="fas fa-check-circle check"></i> 1 Editor</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens sem anúncios</p>
                        <p><i class="fas fa-times-circle uncheck"></i> Inscrições pagas no blog</p>
                    </div>
                </div>
                <a href="#" class="SelectPlan">Selecionar</a>
            </div>
            <div class="Plan expert">
                <div class="UpSide">
                    <h3 class="PlanTitle">Expert</h3>
                    <h4 class="PlanPrice">R$ 29,99/mês</h4>
                </div>
                <div class="DownSide">
                    <div class="PlanSpecifications">
                        <p><i class="fas fa-check-circle check"></i> 3 Blogs por conta</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens ilimitadas</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens com quantidade de palavras ilimitadas</p>
                        <p><i class="fas fa-check-circle check"></i> 3 Administradores</p>
                        <p><i class="fas fa-check-circle check"></i> 3 Moderadores</p>
                        <p><i class="fas fa-check-circle check"></i> 5 Editores</p>
                        <p><i class="fas fa-check-circle check"></i> Postagens sem anúncios</p>
                        <p><i class="fas fa-check-circle check"></i> Inscrições pagas no blog</p>
                    </div>
                </div>
                <a href="#" class="SelectPlan">Selecionar</a>
            </div>
        </main>
    </section>

    <section id="FaqContainer">
        <div id="FaqHeader">
            <h2>Perguntas frequentes</h2>
            <p>Vejam algumas perguntas que são frequentemente feitas!</p>
        </div>
        <main id="Faqs">
            <details class="faq">
                <summary class="Question">"Os leitores pagam algo para ler?"</summary>
            </details>
        </main>
    </section>
{% endblock content %}