{% extends "./parts/base-html.html" %}

{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto+Mono&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="/styles/pages/post.css">
{% endblock styles %}

{% block content %}
<section id="PostContainer">
    <section id="PostHeader">
        <div class="BlogInfos">
            <img src="https://pbs.twimg.com/profile_images/526034563017887745/vM02CPfP.png" alt="">
            <a href="#" class="BlogName">DevSec</a>
            <span class="BlogOwner">Elon Musk</span>
        </div>
        <img class="PostThumb" src="https://s2.glbimg.com/Q2cF6UvQVfp7gSQx9MbfhK5q4AA=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2020/D/T/P9e3UWTzq3kiAiCgoqZQ/top-apps-worldwide-dec-2019-by-downloads.jpg" alt="">
        <h1 class="PostTitle">Aplicativos não viverão para sempre!</h1>
        <p class="PostLead">Talvez seja hora de deixar de lado aplicativos, utilitários, códigos e hardware antigos</p>
        <div class="PostInfos">
            <div class="PostAuthor">
                <span><i class="fas fa-user"></i> Escrito por</span> <a href="#" class="Author">@ElonMusk</a>
            </div>
            <div class="PostDates">
                <p class="Posted">Postado em 20/01/2020, 18:56</p>
                <p class="Edited">Editado em 21/02/2021, 09:25</p>
                <p class="ReadingTime">4 min. de leitura</p>
            </div>
        </div>
        <div id="PostActions">
            <div class="Actions">
                <button class="Action like"><i class="far fa-heart"></i> <span>414</span></button>
                <button class="Action save"><i class="far fa-bookmark"></i> <span>Salvar</span></button>
                <button class="Action share"><i class="fas fa-share"></i> <span>Compartilhar</span></button>
            </div>
        </div>
    </section>
    <main id="PostContent">

        <p>Aqui tem apenas alguns exemplos de como um post se comportará quando publicado por qualquer pessoa. Tudo aqui foi feito para ser totalmente responsivo automaticamente. Tags html não são permitidas, então muitas tags não serão usadas aqui no exemplo, já que não serão usadas na criação de posts, por isso só existem alguns exemplos aqui.</p>

        <h1>Tags H</h1>

        <p>Veja como às tags 'H' se comportam:</p>

        <h1>H1</h1>
        <h2>H2</h2>
        <h3>H3</h3>
        <h4>H4</h4>
        <h5>H5</h5>
        <h6>H6</h6>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam rem eligendi, assumenda itaque fugit, saepe fuga consequuntur excepturi, ratione repellat fugiat minus laborum error voluptatem aut iure provident optio?</p>
        

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit natus repellat voluptate! Minima velit consequatur dolore. Culpa, quibusdam! Dignissimos debitis corporis, illo pariatur exercitationem saepe iste nulla et dolores similique?</p>

        <h2>Abaixo temos um exemplo de <em>blockquote</em> (bloco de citação).</h2>

        <blockquote>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore eius ex, voluptatum amet quas dolores ab at sed, in quos incidunt neque a corporis consequuntur iure! Fuga fugit qui quaerat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <br>
            <br>
            Possimus velit optio expedita corrupti sit, eum modi deserunt itaque ea debitis laborum facere numquam distinctio, perspiciatis alias enim et voluptatum eaque.
        </blockquote>

        <h2>Veja como uma imagem se comporta no site:</h2>

        <img src="https://miro.medium.com/max/1000/1*Dv-iNtRbfeiko3E6uLdcXg.jpeg" alt="">

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero porro illum aliquam nulla <a href="#" target="_blank" rel="noopener noreferrer">magni voluptates non omnis! Incidunt architecto vero magnam aliquid atque</a>, beatae quaerat dignissimos commodi rem itaque voluptates.</p>

        <h2>Abaixo vemos um bloco de código</h2>

        <p>Ela tem uma fonte mono-espaçada e a formatação do código está correta</p>

        <code>
            <pre>
import 'reflect-metadata';
import 'dotenv/config';

import express from 'express';

import cors from 'cors';
import 'express-async-errors';

import * as Sentry from '@sentry/node';

import sentryConfig from '@config/sentry';

import '@shared/adapters';
import '@shared/infra/mongoose/connection';
import TokenExpiredError from '@shared/errors/TokenExpiredError';

import routes from './api/v1';

const app = express();

Sentry.init({ dsn: sentryConfig.dsn });

app.use(Sentry.Handlers.requestHandler());

app.use(express.json());
app.use(
    cors({
        exposedHeaders: ['X-Total-Count', 'X-Total-Page'],
    }),
);
app.use(routes);

app.use(Sentry.Handlers.errorHandler());

app.use(
    (
    err: Error,
    req: express.Request,
    res: express.Response,
    _: express.NextFunction,
    ) => {
    if (process.env.NODE_ENV !== 'production') {
        console.log(err.stack);
    }

    if (err instanceof TokenExpiredError) {
            return res.status(401).json({
            code: 'token.expired',
            message: err.message,
        });
    }

    return res.status(500).json({ error: 'Internal server error' });
    },
);

export default app;
            </pre>
        </code>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores omnis quia, illum molestias veniam nesciunt libero placeat, error consequatur dolorem dolorum dignissimos expedita magnam, iure facilis voluptatum soluta facere sint?</p>

        <h2>Este é um exemplo de tabela, totalmente responsiva!</h2>

        <table>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
            </tr>
            <tr>
                <td>Pedro Henrique</td>
                <td>16</td>
            </tr>
            <tr>
                <td>Ana Carolina</td>
                <td>18</td>
            </tr>
            <tr>
                <td>Laura</td>
                <td>25</td>
            </tr>
            <tr>
                <td>Pedro Henrique</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Pedro Henrique</td>
                <td>60</td>
            </tr>
        </table>
    </main>
</section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}