{% extends "./parts/base-html.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/posts.css">
{% endblock styles %}

{% block content %}
    <section id="WelcomeHeader">
        <h1>Veja alguns dos melhores posts que podemos oferecer!</h1>
        <p>Os posts são mostrados por sua relevância, definida por avaliações e interações do usuários.</p>
    </section>
    <main id="PostsContainer">
        <div class="Post">
            <img src="https://i.picsum.photos/id/663/1280/720.jpg?hmac=Cps7mvL75rUJ0pS0S0wfElQ3c50tqZTAuXWZhp0sWaY" alt="">
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/716/1280/720.jpg?hmac=0KpwxhLtXwA4zcFO3R0coJXRtKNW-Vd2QLljRXEqaLU" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/278/1280/720.jpg?hmac=CGFSA4vhMikrRfJEskWu_vmNrotuvASB1IEypPSpW1s" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/519/1280/720.jpg?hmac=UdRS97MY82MyxPRbz7qKuK07u1NQteDYQJC3uu_-LXA" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/25/1280/720.jpg?hmac=SywbA-UXhsWvYKW83FYOHXuLysmAuymkEtncUi9MKGc" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/617/900/600.jpg?hmac=zFVg-M8WAhsb8YP9x2b6WVi8f6_WzpG3GiVy6Z-OH3M" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <img src="https://i.picsum.photos/id/663/1280/720.jpg?hmac=Cps7mvL75rUJ0pS0S0wfElQ3c50tqZTAuXWZhp0sWaY" alt="">
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/716/1280/720.jpg?hmac=0KpwxhLtXwA4zcFO3R0coJXRtKNW-Vd2QLljRXEqaLU" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
        <div class="Post">
            <div class="ImageContainer"><img src="https://i.picsum.photos/id/278/1280/720.jpg?hmac=CGFSA4vhMikrRfJEskWu_vmNrotuvASB1IEypPSpW1s" alt=""></div>
            <div class="PostContent">
                <h2 class="PostTitle">Como funciona o Nodejs</h2>
                <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                <a href="#" class="PostAuthor">Super Contents</a>
                <div class="StatsContainer">
                    <p class="stat"><i class="far fa-heart"></i> 400</p>
                    <p class="stat"><i class="far fa-comment"></i> 129</p>
                </div>
                <p class="ReadingTime"><i class="far fa-clock"></i> 2 min. de leitura</p>
                <a href="#" class="ViewMore">Ver post</a>
            </div>
        </div>
    </main>
{% endblock content %}