{% extends "./parts/base-html.html" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/pages/search.css">
{% endblock styles %}

{% block content %}
    <main id="Container">
        <h1>Foram encontrados 4397 resultados para sua a busca: "<em>{{ query }}</em>"</h1>
        <div id="Posts">
            <div class="Post">
                <img src="https://i.picsum.photos/id/663/1280/720.jpg?hmac=Cps7mvL75rUJ0pS0S0wfElQ3c50tqZTAuXWZhp0sWaY" alt="">
                <div class="PostContent">
                    <h2 class="PostTitle">Como funciona o Nodejs</h2>
                    <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                    <a href="#" class="PostAuthor">Super Contents</a>
                    <div class="StatsContainer">
                        <p class="stat"><i class="far fa-heart"></i> 400</p>
                        <p class="stat"><i class="far fa-comment"></i> 129</p>
                    </div>
                    <a href="#" class="ViewMore">Ver post</a>
                </div>
            </div>
            <div class="Post">
                <img src="https://i.picsum.photos/id/663/1280/720.jpg?hmac=Cps7mvL75rUJ0pS0S0wfElQ3c50tqZTAuXWZhp0sWaY" alt="">
                <div class="PostContent">
                    <h2 class="PostTitle">Como funciona o Nodejs</h2>
                    <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                    <a href="#" class="PostAuthor">Super Contents</a>
                    <div class="StatsContainer">
                        <p class="stat"><i class="far fa-heart"></i> 400</p>
                        <p class="stat"><i class="far fa-comment"></i> 129</p>
                    </div>
                    <a href="#" class="ViewMore">Ver post</a>
                </div>
            </div>
            <div class="Post">
                <img src="https://i.picsum.photos/id/663/1280/720.jpg?hmac=Cps7mvL75rUJ0pS0S0wfElQ3c50tqZTAuXWZhp0sWaY" alt="">
                <div class="PostContent">
                    <h2 class="PostTitle">Como funciona o Nodejs</h2>
                    <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                    <a href="#" class="PostAuthor">Super Contents</a>
                    <div class="StatsContainer">
                        <p class="stat"><i class="far fa-heart"></i> 400</p>
                        <p class="stat"><i class="far fa-comment"></i> 129</p>
                    </div>
                    <a href="#" class="ViewMore">Ver post</a>
                </div>
            </div>
            <div class="Post">
                <img src="https://i.picsum.photos/id/663/1280/720.jpg?hmac=Cps7mvL75rUJ0pS0S0wfElQ3c50tqZTAuXWZhp0sWaY" alt="">
                <div class="PostContent">
                    <h2 class="PostTitle">Como funciona o Nodejs</h2>
                    <p class="PostDesc">Ao usar o NodeJs você nem imagina tudo que acontece por de baixo dos panos, mas agora eu vou te contar tudo e mais um pouco sobre o assunto!</p>
                    <a href="#" class="PostAuthor">Super Contents</a>
                    <div class="StatsContainer">
                        <p class="stat"><i class="far fa-heart"></i> 400</p>
                        <p class="stat"><i class="far fa-comment"></i> 129</p>
                    </div>
                    <a href="#" class="ViewMore">Ver post</a>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}