<header>
    <a href="/" id="PageLogo">DevBlog</a>
    <i class="fas fa-bars OpenMobileMenu"></i>
    <nav id="NavMenu" class="">
        <a href="/"><i class="fas fa-home"></i> Home</a>
        <a href="#"><i class="fas fa-user-alt"></i> Minha Conta</a>
        <a href="#" id="SignUpButton"><i class="fas fa-plus"></i> Criar Conta</a>
        <form action="#" method="GET">
            <div id="SearchContainer">
                <!-- <label for="query">Buscar postagens</label> -->
                <input 
                    type="search" 
                    name="query" 
                    id="SearchInput"
                    title="Digite o que está procurando"
                    placeholder="Procure..."
                    required

                >
                    <button type="submit" title="Clique para realizar a busca"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </nav>
</header>